ol ul{
	list-style: none;
}
.context_box{
	height:100%;
}
.nav_box{
	background: rgb(102, 102, 102);
	border:0;
}
.nav_box .logo{
	width:200px;
	height:50px;
	float:left;
}
.nav_box ul{
	height:24px;
	float:right;
	margin-top:26px;
	margin-left:50px;
}
.nav_box ul li{
	height:24px;
	width:100px;
	float:left;
}
.nav_box ul li a {
	color:#fff;
	font-size:14px;
}
.queryForm{
	padding:2% 5%;
}
.queryForm div{
	margin-top:10px;
}
.queryForm div span{
	margin-left:2%;
}

.queryForm .queryBtn{
	width:5%;
	margin-left: 10%;
	height: 25px;
}

.addForm{
	padding:40px 100px;
}
.addForm div{
	margin: 10px 10px;
}
.addForm .addStuBtn{
	margin-left: 40px;
}
.addForm .addStuBtn input{
	margin:20px 5px;;
}
.w170{
	width:170px;
	height: 50px;
}
.w70{
	width:80px;
	height: 25px;
}
.w60{
	width:60px;
	height: 25px;
}
.importForm{
	padding:80px 70px;
}
.importForm div{
	margin: 20px 10px;
}
.importForm div a{
	width:100px;
}
.pwdForm{
	padding: 15% 1%;
}
.pwdForm .fm_left{
	float: left;
	text-align: right;
	padding-right: 10px;
	width: 130px;
}
.pwdForm .fm_right{
	float: left;
}
.pwdForm li{
	padding: 6px 0;
	clear: left;
	line-height: 200%;
	zoom: 1;
}
.pwdForm .submitBtn{
	width:15%;
	margin-left: 35%;
	height: 25px;
}
.err{
color: #ff0000;
padding-left:10px;
font-size: 12px;
display: none;
margin-left: 5px;
}
.courseAddForm{
	padding:2% 1%;
}
.courseAddForm table tr td{
	padding: 5px 2px;
}
.courseAddForm .addStuBtn{
	margin-left: 60px;
}
.courseTDiv{
	margin-top: 3px;
}
